---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';

---

<Layout title="Bienvenidos a mi pagina.">
	<div class="my-custom-class">
		GFDSGFDGSD
	</div>
	<span class="font-myfont italic"> hola mundo con mi fuente elegida</span>
	<Icon name="mdi:tray-upload" size="56" class="text-cyan-500" />
	<Icon name="proicons:keyboard-shift" size="56" class='text-emerald-500' />
</Layout>

<style>
	.my-custom-class{
		@apply bg-blue-300 text-white text-2xl
	}
</style>
<script>
	
</script>


